.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title{
    position: absolute;
    font-size: 20px;
    height: 40px;
    border-bottom: 4px solid rgb(255, 138, 171);
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.photoBtn{
    font-size: 25px;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    box-shadow:  0px 0px 70px #bebebe4b;
    opacity: 0.8;
    transition: 0.1s ;        
}


.photoBtn:hover{opacity: 1;}

.photoBtn:active{
    opacity: 0.5;
}

.videoBox{
    position: relative;
    display: flex;
   

    width: 100%;
   
    
}

.video{ 
    transform: scaleX(-1);
    width: 100%;  /* 부모 컨테이너에 꽉 차게 설정 */
    aspect-ratio: 16 / 5;
    object-fit: cover;  /* 비디오가 컨테이너에 꽉 차도록 하되, 비율은 유지 */
    overflow: hidden;  /* 초과하는 부분은 숨김 */
}



// 찰칵 애니메이션을 위한 CSS
.flash {
  animation: flash 0.2s ;
}

@keyframes flash {
  from {
    outline: 10px solid transparent;

  }
  to {
    outline: 10px solid #f2378b;

  }
}



.countdown{
    position: absolute;
    font-size: 50px;
    color: rgb(255, 255, 255);
    opacity: 0.2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.canvas{
    background-color: rgba(0, 0, 0, 0.346);
    width: 100%;  /* 부모 컨테이너에 꽉 차게 설정 */
    object-fit: cover;  /* 비디오가 컨테이너에 꽉 차도록 하되, 비율은 유지 */
    overflow: hidden;  /* 초과하는 부분은 숨김 */
   position: absolute;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: block;
height: 100%;
}
.hidden{
    display: none;
}



.currentShot{
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 800;
}

.btn{
    background-color: transparent;
    border: 1px solid #ffd0e5;
    color: black;
    padding: 10px 70px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 999px;
    margin-top: 10px;
    transition: 0.1s;
}

.btn:active{
    opacity: 0.6;
}